@import "mixins";
@import "vars";
@import url(fonts.css);
@import url(normalize.css);

*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
}
body, html {
    margin: 0;
    padding: 0;
    font-family: 'Inter';
}
body {
}
.container {
    width: 1125px;
    padding: 0 15px;
    margin: 0 auto;
}
.header {
    padding: 22px 0;
    box-shadow: 0px 4px 25px rgba(217, 217, 217, 0.25);
    &__wrapper {
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    &__nav {
        ul {
            display: flex;
            column-gap: 38px;
        }
    }
    &__search-block {
        display: flex;
        align-items: center;
        column-gap: 8px;
        .cart, .heart {
            padding: 13px;
            border: 1px #EFEFEF solid;
            border-radius: 30px;
        }
        span {
            position: relative;
            top: 6px;
            left: 40px;
        }
        input {
            padding: 13px 0 13px 45px;
            border: 1px #EFEFEF solid;
            border-radius: 30px;
            &::before {
                display: block;
                content: '';
                content: url('../imgs/icon_search.png');
                width: 100px;
                height: 100px;
                background: black;
            }
        }
    }
}
.start-screen {
    background: url('../imgs/gradient.png') no-repeat right;
    &__wrapper {
        padding: 100px 0 85px 0;
        width: 1110px;
        margin: 0 auto;
        background: url('../imgs/header-img.png') no-repeat;
        background-position: right;
    }
}
.about {
    max-width: 496px;
    h2 {
        font-family: 'Poppins';
        font-weight: 600;
        font-size: 18px;
    }
    &__title {
        font-family: 'Poppins';
        font-weight: 700;
        font-size: 52px;
    }
    &__p {
        line-height: 28.5px;
        margin-bottom: 33px;
    }
    &__button-wrapper {
        display: flex;
        column-gap: 12px;
    }
    &__button {
        display: flex;
        align-items: center;
        padding: 18px 16px;
        font-family: 'Poppins';
        font-weight: 500;
        border-radius: 12px;
        box-shadow: 0px 4px 20px rgba(70, 191, 140, 0.46);
        background-color: #FFBB37;
        color: #EFEFEF;
        &::before {
            margin-right: 16px;
            content: url('../imgs/cat.png');
        }
        &:last-child {
            background-color: #46BF8C;
            &::before {
                content: url('../imgs/Dog.png');
            }
        }
    }
}
.features {
    display: flex;
    column-gap: 30px;
    margin-top: 63px;
    &__item {
        max-width: 265px;
        padding: 17px 20px 17px 53px;
        box-shadow: 0px 4px 15px rgba(174, 174, 174, 0.25);
        backdrop-filter: blur(20px);
        border-radius: 12px;
        background: rgba(255, 255, 255, 0.7 );
        h3 {
            font-family: 'Poppins';
            font-weight: 600;
            margin-bottom: 10px;
            position: relative;
            &::before {

                content: url('../imgs/Heartslide.png');
                position: absolute;
                left: -20%;
            }
        }
        .features__item-title--otherimg {
            &::before {
                content: url('../imgs/age-restriction.png');
            }
        }
        p{  
            line-height: 19.5px;
            font-size: 14px;
        }
    }
}
.products {
    &:last-child {
        margin-top: 40px;
    }
    &__h2-wrapper {
        display: flex;
        align-items: center;
        column-gap: 8px;
        h2 {
            font-size: 32px;
            font-weight: 600;
        }
        &::before {
            content: url('../imgs/product-cat.png');
        }
        &--dogs::before {
            content: url(('../imgs/products-dog.png'));
        }     
    }
    &__title {
        display: flex;
        justify-content: space-between;
        margin-bottom: 40px;

        &-button {
            padding: 18px 34px;
            font-weight: 600;
            color: #46BF8C;
            background: #DFF1ED;
            border-radius: 74px;
        }
    }
    &__item {
        padding: 22px 24px;
        box-shadow: 0px 4px 39px rgba(203, 203, 203, 0.25);
        border-radius: 8px;
    }
    &__rating {
        &::after {
            content: '(123)';
            margin-left: 5px;
            font-size: 14px;
            color: #70737C;
        }
    }
    &__title {
        margin: 6px 0 14px 0;
    }
    &__price {
        margin-bottom: 25px;
        font-size: 32px;
        font-weight: 700;
        &::after {
            content: '$145';
            font-size: 24px;
            color: #BAB9BF;
            margin-left: 7px;
            text-decoration:line-through;
        }
    }
    &__operation {
        display: flex;
        justify-content: space-between;
        align-items: center;
        button {
            background-color: transparent;
            position: relative;
            color: #46BF8C;
            padding: 15px 19px 15px 50px;
            border: 1px #EEEEEE solid;
            border-radius: 12px;
           &::before {
               content: url('../imgs/Cart.png');
               position:absolute    ;
               left: 6.5%;
               top: 23%;
           }
        }
    }
    &__items-wrapper {
        display: flex;
        column-gap: 30px;
    }
}
.shelter {
    &__wrapper {
        display: flex;
        column-gap: 30px;
    }
    &__block {
        max-width: 540px;
    }
    &__video {
        display: flex;
        flex-direction: column;
        &-info {
            margin-top: 20px;
            display: flex;
            justify-content: space-between;
            text-align: center;
            h3 {
                font-weight: 700;
                font-size: 32px;
            }
        }
    }
    &__info {
        line-height: 28.5px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        &-title h2 {
            font-size: 32px;
        }
    }
}