/* @fontface */
@font-face {
    font-family: "Inter";
    display: swap;
    src: url("../fonts/Inter-Regular.ttf") format("truetype");
}
@font-face {
    font-family: 'Inter';
    font-weight: 700;
    font-display: swap;
    src: url(../fonts/Inter-Bold.ttf) format("truetype");
}
@font-face {
    font-family: 'Poppins';
    font-weight: 700;
    font-display: swap;
    src: url(../fonts/Poppins-Bold.ttf) format("truetype");
}
@font-face {
    font-family: 'Poppins';
    font-weight: 500;
    font-display: swap;
    src: url(../fonts/Poppins-SemiBold.ttf) format("truetype");
}